.chart_panel{
  border: 1px solid black;
    border-radius: 5px;
    height: 10rem;
    margin: 10px;
    padding-bottom:5rem;
    background-color: pink;
   
}

.chartbar_section{
  display:flex;
 flex-direction: row;
 justify-content: space-around;
 height: 100%;
}

p{
  margin-bottom: 20px
}