.expense-filter__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.expense-filter__name{
color: #fff;
font-size: 24px;
font-weight: bold;
}
.expense-filter__value{
  margin: 30px;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}