.new-expense{
  margin: 0 auto;
    background-color: violet;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 100px;
    padding: 50px;

}

.new-expense__title{
  display: flex;
    flex-direction: column;
    flex: 0.5;
    width: 50%;

}

.new-expense__amount{
  display: flex;
    flex-direction: column;
    flex: 0.5;
    width: 50%;

}

.new-expense__date{
  display: flex;
    flex-direction: column;
    flex: 0.5;
    width: 50%;
}

.field-name{
  font-size: 1.25rem;
    font-weight: bold;
    color: #4c4a4a;
}
.field-value{
  
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.add-expense__button button{
  
  background-color: #40005d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 100px 0px 0px 100px;
  cursor: pointer;
}